.game-outcome {

	&__left {
		width: 50%;
		float: left;
	}

	&__right {
		width: 50%;
		float: left;
	}

	&__item {
		text-align: center;
		margin: 15px;
		border: 2px solid transparentize(white, 0.9);
		padding: 15px;
		&--winner {
			border-color: $green-color;
		}
	}

	&__name {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1.3px;
		margin: 0 0 15px 0;
		padding: 0;
	}

	&__choice {

		text-align: center;

		&-icon {
			height: 100px;
			margin-bottom: 15px;
			@media(max-width: 600px) {
				height: 50px;
			}
		}

		&-name {
			display: block;
			font-size: 20px;
			line-height: 27px;
		}

	}

	&__bottom {
		text-align: center;
	}

	&__message {
		font-size: 40px;
		line-height: 47px;
		padding: 0;
		text-align: center;
		margin: 30px auto;
	}

	&__play-again-btn {
		margin: 0 auto;
		padding: 15px;
		display: inline-block;
		text-align: center;
		background: transparent;
		border: 2px solid white;
		background: white;
		color: $dark-blue;
		text-transform: uppercase;
		outline: none;
		&:hover {
			cursor: pointer;
			background: transparent;
			color: white;
		}
	}

}
