.player-select {

	&__title {
		text-align: center;
		margin: 0 0 30px 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}

	&__wrapper {

	}

	&__options {
		display: table;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		@media(max-width: 600px) {
			display: block;
		}
	}

	&__option {
		display: table-cell;
		vertical-align: middle;
		width: 33.333%;
		text-align: center;
		background: transparentize(white, 0.95);
		padding: 15px;

		&:hover {
			cursor: pointer;
			background: transparentize(white, 0.8);
		}

		&-icon {
			height: 50px;
			margin-bottom: 10px;
		}

		&-name {
			display: block;
		}

		@media(max-width: 600px) {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0px;
			}
		}

	}



}
