.score-board {

	width: 100%;
	display: table;
	margin: 30px auto;
	border-bottom: 1px solid transparentize(white, 0.9);
	padding: 0 0 30px 0;

	@media(max-width: 600px) {
		display: block;
		&:after {
			clear: both;
			display: table;
			content: ' ';
		}
	}

	&__item {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		@media(max-width: 600px) {
			display: block;
			margin-bottom: 15px;
			width: 50%;
			float: left;
			&:nth-child(3), &:nth-child(4) {
				margin-bottom: 0px;
			}
		}
	}

	&__heading {
		display: block;
		color: white;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}

	&__count {
		display: block;
		font-size: 40px;
		line-height: 45px;
	}

}
