body {
	background: $dark-blue;
	color: white;
	font-family: 'Roboto', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}
